body{
    font: 15px/1.5 montserrat;
    padding:0;
    margin:0;
    background: #b9b9b9;
    color:rgb(0, 0, 0);

}

.container{
    border: 5px white;
    width: 80%;
    margin: auto; 
    align-items: center;
    justify-content: center;
}

header{
    background: #b9b9b9;
    color:#f4f4f4;
    position:relative;
    padding-top: 30px;
}

h2{ font: 64px/1.5 montserrat;
    text-align: center;}
h3{ font: 48px/1.5 montserrat;
    text-align: center;}
h4{ font: 32px/1.5 montserrat;
    text-align: center;}
p{  font: 18px/1.5 montserrat;
    text-align: center;

}

.navbar {
    float: right;
}

.navbar a{
    float: left;
    font-size: 16px;
    font-weight: bold;
    color:#f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font: 15px/1.5 montserrat;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    color: #f4f4f4;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
    color:#000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color:#000000;
}

.navbar a:hover{
    color:#000000;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1{
    color: white;
    font-size:50px;
}

/*                  About                   */


.containerAbout{
    /*border: 5px solid;*/
    color:white;
    display:flex;
    margin:auto;
}
#about{
    max-width:500px;
    /*border: 5px solid;*/
    margin:auto;
    height:500px;
    overflow:auto;
}


#mech{
    /*border: 5px solid;*/
    color:white;
    width:1000px;
    height:500px;
    position:absolute;
    float:right;
    margin-top:275px;
    right:0;
    z-index: -1;
}

#mech img{
    height:540px;
    width:950px;
    float:right;
}