body{
    font: 15px/1.5 Arial, helvetica, sans-serif;
    padding:0;
    margin:0;
    background: #b9b9b9;
    color:rgb(0, 0, 0);

}

.container{
    width: 80%;
    margin: auto; 
    align-items: center;
    justify-content: center;
}

header{
    background: #b9b9b9;
    color:#f4f4f4;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #37474f 6px solid;
}

header #branding{
    float:left;
}

header #branding h1{
    margin: 0;
    color:#f4f4f4;

}

.navbar {
    overflow: hidden;
    float: right;}

.navbar a{
    float: left;
    font-size: 16px;
    font-weight: bold;
    color:#f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    color: #f4f4f4;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(133, 153, 255);
    color:#000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    color:#000000;
}

.navbar a:hover{
    color:#000000;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#showcase{
    min-height: 400px;
    background: url('../img/ShipTopTextured.png') no-repeat 0 -300px;
    background-size: 100%;
    padding-top: 140px;
}

#showcase2{
    min-height: 400px;
    background: #8c97ac;
    padding-top: 140px;
}

h1{
    color:#f4f4f4;
}

p{
    color:#f4f4f4;
    max-width: 500px;
}

#newsletter{
    height:6px;
    background: #37474f;
}
#boxes{
    margin-top:50px;
    padding-bottom: 25px;
    padding-left: 120px;
}

#boxes .box{
    float: left;
    text-align:center;
    width: 20%;
    margin-right: 240px;
    margin-bottom: 50px;

}

#boxes .box img{
    float: left;
    width: 360px;
    padding-bottom: 20px;
    border-radius: 15px;
}

footer{
    background: #37474f;
    color: #ffffff;
    padding-top:5px;
    padding-left: 37%;
    height: 50px;
    margin-top: 550px;
    text-align:center;
}
