body{
    font: 15px/1.5 montserrat;
    padding:0;
    margin:0;
    background: #000000;
    color:rgb(0, 0, 0);
    overflow: hidden;

}

.container{
    width: 80%;
    margin: auto; 
    align-items: center;
    justify-content: center;
}

header{
    background: #000000;
    color:#f4f4f4;
    position:relative;
    padding-top: 30px;
}

header #branding{
    
    float:left;
}

header #branding h1{
    margin: 0;
    color:#f4f4f4;

}

.navbar {
    float: right;
}

.navbar a{
    float: left;
    font-size: 16px;
    font-weight: bold;
    color:#f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font: 15px/1.5 montserrat;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    color: #f4f4f4;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
    color:#000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color:#000000;
}

.navbar a:hover{
    color:#000000;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

svg{
    position: absolute;
    margin-top:-25px;
}

#arrowsRight{
    margin-top: 330px;
    margin-left: 1600px;

}

#arrowsLeft{
    margin-top: 330px;
    margin-left: 125px;
    position: absolute;

}

#Light{
    fill:#000000;
    opacity: 100%;
    
}

#lightLeft{
    transition: all 0.5s ease;
    fill:#000000;
    opacity: 0%;
    transform:translateX(100%);
}

#Dark{
    height:555px;
    fill:#ffffff;
}

#fullOpac{
    opacity: 100%;
    transition: 0.2s ease;
    
}

#fullOpacCrosshair{
    opacity: 100%;
    transition: 0.5s ease;
}

#LeftFullOpac{
    opacity: 100%;
}


#RightFullOpac{
    opacity: 100%;
}

#RightFullOpac, #RightLowOPac, #Light1, #LeftLowOpac, #LeftFullOpac{
    transition: all 0.5s ease;
}

#Light1{
    transform:translateX(-100%);
    fill:#000000;
    opacity: 100%;
}

svg:hover #LeftFullOpac{
    transform:translateX(6%);
    opacity:100%;
}

svg:hover #LeftLowOpac{
    transform:translateX(-6%);
    opacity:0%;
}

svg:hover #RightFullOpac{
    transform:translateX(-6%);
    opacity:100%;
}

svg:hover #RightLowOPac{
    transform:translateX(6%);
    opacity:0%;
}

/* NOVA */

#subdShip{
    opacity:0%;
    transform:translateX(-100%);
    margin-left: 170px;
    margin-top:100px;
}

#subdShipFadeIn{
    transform:translateX(6%);
    transition: 1s ease;
    opacity:100%;
    margin-left: 170px;
    margin-top:100px;
}

#N, #O, #V, #A, #crossHair, #crossHair1, #crossHair2, #crossHair3, #crossHair4{
    opacity:0%;
    
}

#_{transform:translateX(-50%);
    opacity:100%}

#_2{transform:translateX(-35%);
        opacity:50%}

#_3{transform:translateX(-20%);
            opacity:100%}

#_4{transform:translateX(-5%);
        opacity:50%}

#underScoreBlinkIn{
    animation: fadeIn 1s linear;
}

#underScoreBlinkOut{
    animation: fadeOut 1s linear;
}

/*                  SUBD TEXT                           */

#subdShip{
    margin-left:170px;
    margin-top:100px;
}


/*                  MOUSE ANIMATION                     */


#mouse{
    margin-top: 700px;
    margin-left:750px;
}

#ellips, #rightButton, #mouseBG, #leftButton, #scroll{
    opacity: 20%;
    color:#E4E4E4;
}

#noOpacity{
    transition: ease 1s;
    opacity: 0%;
}
#Rotate{
    opacity:0%;
    animation: fadeIn 1s linear; }
#Zoom{opacity:0%}
#Move{opacity:0%}

#fadeIn{
    animation: fadeIn 1s linear; 
}

#fadeOut{
    animation: fadeOut 1s linear; 
}

@keyframes fadeIn{
    from{opacity: 20%;}
    to{opacity: 100%;}
}

@keyframes fadeOut{
    from{opacity: 100%;}
    to{opacity: 20%;}
}