body{
    font: 15px/1.5 montserrat;
    padding:0;
    margin:0;
    background: #000000;
    color:rgb(0, 0, 0);

}

.vid{
    animation: vidOpac 2s linear;
    min-width:100%;
    min-height:100%;
    right:0;
    bottom:0;
    position: fixed;
    opacity: 0%;
    z-index:-1;
}

@keyframes vidOpac{
    0%{
    opacity: 100%;
    }
    100%{
        opacity:0%;
    }
}

.container{
    /*border: 5px solid;*/
    position:absolute;
    left:25%;
    top:35%;
    line-height: 100px;
}

header{
    background: #b9b9b9;
    color:#ffffff;
    position:relative;
    height:100px;
    padding-top: 30px;
}

.indexText{
    animation: slideY 1s linear;
}

h2{ font: 64px/1.5 montserrat;
    text-align: center;}
h3{ font: 48px/1.5 montserrat;
    text-align: center;}
h4{ font: 32px/1.5 montserrat;
    text-align: center;}
p{  font: 18px/1.5 montserrat;
    text-align: center;

}


.whiteDivider{
    position:absolute;
    background-color: white;
    width: 3px;
    height:300px;
    left:49%;
    top:30%;
    animation: slideY 1s linear;
}

@keyframes slideY{
    0%{
    transform: translateY(-300%);
    opacity: 0%;
    }
    100%{
        transform:translateY(0%);
        opacity:100%;
    }
}

@keyframes slideX{
    0%{
        transform: translateX(300%);
        opacity: 0%;
        }
        100%{
            transform:translateX(0%);
            opacity:100%;
        }
}

.navbar {
    /*border: 5px solid;*/
    position:absolute;
    display:flex;
    flex-direction: column;
    left:52%;
    top:31.5%;
    height:400px;
    animation: 1s slideX linear; 
}

.navbar a{
    font-weight: bold;
    color:#f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    height:25px;
    padding: 24px 16px;
}

.dropdown{
    float: left;
    overflow: hidden;
    font-size:32px;
    
}

.dropbtn {
    font: 15px/1.5 montserrat;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    outline: none;
    color: #f4f4f4;
    padding: 24px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropbtn:hover {
    color:#b9b9b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b9b9b9;
    color:#f4f4f4;
    min-width: 195px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.dropdown-content a:hover {
    color:#000000;
}

.navbar a:hover{
    color:#b9b9b9;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1{
    color: white;
    font-size:50px;
}

.BlenderProj {
    color:#ffffff;
    position:absolute;
    margin-top:45px;
    margin-left:520px;
    font-size: 100px;
}

/*                  About                   */


.containerAbout{
    /*border: 5px solid;*/
    color:white;
    display:flex;
    margin:auto;
}
#about{
    max-width:500px;
    /*border: 5px solid;*/
    margin:auto;
}
#mech{
    /*border: 5px solid;*/
    color:white;
    width:1000px;
    height:500px;
    position:absolute;
    float:right;
    margin-top:425px;
    right:0;
    z-index: -1;
}

#mech img{
    height:540px;
    width:950px;
    float:right;
}